In [2]:
import pandas as pd

In [3]:
data_movies = pd.read_csv("./data/tmdb_5000_movies.csv")

In [4]:
data_credits = pd.read_csv("./data/tmdb_5000_credits.csv")

In [6]:
data_movies.shape

(4803, 20)

In [7]:
data_credits.shape

(4803, 4)

In [8]:
data_movies.head(0)

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [9]:
data_credits.head(0)

Empty DataFrame
Columns: [movie_id, title, cast, crew]
Index: []

In [19]:
merg_data = pd.merge(data_movies,data_credits,on = 'title').head(1)

In [20]:
merg_data.head(0)

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, movie_id, cast, crew]
Index: []

[0 rows x 23 columns]

In [21]:
merg_data.isnull().sum()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
movie_id                0
cast                    0
crew                    0
dtype: int64

In [24]:
merg_data.duplicated().sum()

np.int64(0)