In [1]:
import pandas as pd

In [2]:
data_movies = pd.read_csv("./data/tmdb_5000_movies.csv")

In [3]:
data_credits = pd.read_csv("./data/tmdb_5000_credits.csv")

In [4]:
data_movies.shape

(4803, 20)

In [5]:
data_credits.shape

(4803, 4)

In [6]:
data_movies.head(0)

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [7]:
data_credits.head(0)

Empty DataFrame
Columns: [movie_id, title, cast, crew]
Index: []

In [20]:
merg_data = pd.merge(data_movies,data_credits,on = 'title')

In [21]:
merg_data.head(0)

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, movie_id, cast, crew]
Index: []

[0 rows x 23 columns]

In [22]:
merg_data.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [11]:
merg_data.duplicated().sum()

np.int64(0)

In [14]:
merg_data.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [25]:
merg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [ ]:
# genre , homepage ,id , keywords , title , overview , production_companies , cast , crew

In [70]:
imp_fea_data = merg_data[['id','genres' , 'keywords' , 'title' , 'overview', 'production_companies' , 'cast', 'crew']]

In [72]:
imp_fea_data.isnull().sum()

id                      0
genres                  0
keywords                0
title                   0
overview                3
production_companies    0
cast                    0
crew                    0
dtype: int64

In [73]:
imp_fea_data.dropna(inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_12152\187566251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imp_fea_data.dropna(inplace=True)

In [74]:
imp_fea_data.duplicated().sum()

np.int64(0)

In [75]:
imp_fea_data.shape

(4806, 8)