In [1]:
import pandas as pd

In [2]:
data_movies = pd.read_csv("./data/tmdb_5000_movies.csv")

In [3]:
data_credits = pd.read_csv("./data/tmdb_5000_credits.csv")

In [4]:
data_movies.shape

(4803, 20)

In [5]:
data_credits.shape

(4803, 4)

In [6]:
data_movies.head(0)

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [7]:
data_credits.head(0)

Empty DataFrame
Columns: [movie_id, title, cast, crew]
Index: []

In [8]:
merg_data = pd.merge(data_movies,data_credits,on = 'title')

In [9]:
merg_data.head(0)

Empty DataFrame
Columns: [budget, genres, homepage, id, keywords, original_language, original_title, overview, popularity, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count, movie_id, cast, crew]
Index: []

[0 rows x 23 columns]

In [10]:
merg_data.isnull().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [11]:
merg_data.duplicated().sum()

np.int64(0)

In [12]:
merg_data.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [13]:
merg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [14]:
# genre , homepage ,id , keywords , title , overview , production_companies , cast , crew

In [15]:
imp_fea_data = merg_data[['id','genres' , 'keywords' , 'title' , 'overview', 'production_companies' , 'cast', 'crew']]

In [16]:
imp_fea_data.isnull().sum()

id                      0
genres                  0
keywords                0
title                   0
overview                3
production_companies    0
cast                    0
crew                    0
dtype: int64

In [17]:
imp_fea_data.dropna(inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_13496\187566251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imp_fea_data.dropna(inplace=True)

In [18]:
imp_fea_data.duplicated().sum()

np.int64(0)

In [19]:
imp_fea_data.head(2)

,id,genres,keywords,title,overview,production_companies,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [20]:
imp_fea_data.iloc[0]

id                                                                  19995
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
title                                                              Avatar
overview                In the 22nd century, a paraplegic Marine is di...
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
cast                    [{"cast_id": 242, "character": "Jake Sully", "...
crew                    [{"credit_id": "52fe48009251416c750aca23", "de...
Name: 0, dtype: object

In [21]:
imp_fea_data.iloc[0,1]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [22]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [23]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [24]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [25]:
imp_fea_data = imp_fea_data.copy()
imp_fea_data['genres'] = imp_fea_data['genres'].apply(convert)

In [26]:
imp_fea_data.head(1)

,id,genres,keywords,title,overview,production_companies,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [27]:
imp_fea_data.iloc[0,2]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [28]:
imp_fea_data['keywords'] = imp_fea_data['keywords'].apply(convert)

In [29]:
imp_fea_data.head(1)

,id,genres,keywords,title,overview,production_companies,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [30]:
imp_fea_data.iloc[0,5]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [31]:
imp_fea_data['production_companies'] = imp_fea_data['production_companies'].apply(convert)

In [32]:
def convert2(obj):
    L = []
    c = 0
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        c += 1
        if c>2:
            break
    return L

In [33]:
imp_fea_data['cast'].apply(convert2).iloc[0]

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [34]:
imp_fea_data['cast'] = imp_fea_data['cast'].apply(convert2)

In [35]:
imp_fea_data.head(1)

,id,genres,keywords,title,overview,production_companies,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Ingenious Film Partners, Twentieth Century Fo...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [36]:
def convert3(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [37]:
imp_fea_data['crew'] = imp_fea_data['crew'].apply(convert3)

In [38]:
imp_fea_data.head(1)

,id,genres,keywords,title,overview,production_companies,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[Ingenious Film Partners, Twentieth Century Fo...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [39]:
imp_fea_data.head(1)['overview']

0    In the 22nd century, a paraplegic Marine is di...
Name: overview, dtype: object

In [40]:
imp_fea_data.iloc[0,4]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [41]:
imp_fea_data['overview'] = imp_fea_data['overview'].apply(lambda x:x.split())

In [42]:
imp_fea_data.head(1)

,id,genres,keywords,title,overview,production_companies,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Ingenious Film Partners, Twentieth Century Fo...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [43]:
imp_fea_data['genres'] = imp_fea_data['genres'].apply(lambda x : [i.replace(" ","") for i in x])
imp_fea_data['keywords'] = imp_fea_data['keywords'].apply(lambda x : [i.replace(" ","") for i in x])
imp_fea_data['production_companies'] = imp_fea_data['production_companies'].apply(lambda x : [i.replace(" ","") for i in x])
imp_fea_data['cast'] = imp_fea_data['cast'].apply(lambda x : [i.replace(" ","") for i in x])
imp_fea_data['crew'] = imp_fea_data['crew'].apply(lambda x : [i.replace(" ","") for i in x])

In [44]:
imp_fea_data.head(1)

,id,genres,keywords,title,overview,production_companies,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[IngeniousFilmPartners, TwentiethCenturyFoxFil...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [45]:
imp_fea_data['tag'] = imp_fea_data['genres']+imp_fea_data['keywords']+imp_fea_data['overview']+imp_fea_data['production_companies']+imp_fea_data['cast']+imp_fea_data['crew']

In [46]:
imp_fea_data.head(1)

,id,genres,keywords,title,overview,production_companies,cast,crew,tag
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[IngeniousFilmPartners, TwentiethCenturyFoxFil...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, c..."

In [47]:
new_df = imp_fea_data[['id','title','tag']].copy()

In [48]:
new_df['tag']

0       [Action, Adventure, Fantasy, ScienceFiction, c...
1       [Adventure, Fantasy, Action, ocean, drugabuse,...
2       [Action, Adventure, Crime, spy, basedonnovel, ...
3       [Action, Crime, Drama, Thriller, dccomics, cri...
4       [Action, Adventure, ScienceFiction, basedonnov...
                              ...
4804    [Action, Crime, Thriller, unitedstates–mexicob...
4805    [Comedy, Romance, A, newlywed, couple's, honey...
4806    [Comedy, Drama, Romance, TVMovie, date, loveat...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Documentary, obsession, camcorder, crush, dre...
Name: tag, Length: 4806, dtype: object

In [49]:
new_df['tag'] = new_df['tag'].apply(lambda x : " ".join(x))

In [50]:
new_df['tag'] = new_df['tag'].apply(lambda x : x.lower())

In [51]:
new_df.head(1)

      id   title                                                tag
0  19995  Avatar  action adventure fantasy sciencefiction cultur...

In [52]:
new_df.head()

,id,title,tag
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...

In [53]:
from nltk.stem.porter import PorterStemmer

In [54]:
ps = PorterStemmer()

In [55]:
def stemming(text):
    s = []
    for i in text.split():
        s.append(ps.stem(i))
    return ' '.join(s)

In [56]:
new_df['tag'] = new_df['tag'].apply(stemming)

In [57]:
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
cv = CountVectorizer(max_features=5000 , stop_words='english')

In [59]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [60]:
cv.get_feature_names_out()[0:20]

array(['000', '007', '10', '100', '11', '12', '13', '14', '1492pictur',
       '15', '16', '17', '18', '18th', '18thcenturi', '19', '1910',
       '1920', '1930', '1940'], dtype=object)

In [61]:
vectors.shape

(4806, 5000)

In [62]:
new_df.head()

,id,title,tag
0,19995,Avatar,action adventur fantasi sciencefict culturecla...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drugabus exotici...
2,206647,Spectre,action adventur crime spi basedonnovel secreta...
3,49026,The Dark Knight Rises,action crime drama thriller dccomic crimefight...
4,49529,John Carter,action adventur sciencefict basedonnovel mar m...

In [63]:
new_df[new_df['title'] == 'The Dark Knight Rises'].index[0]

np.int64(3)

In [64]:
from sklearn.metrics.pairwise import cosine_similarity

In [65]:
similarity = cosine_similarity(vectors)

In [75]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    movie_list = sorted(list(enumerate(similarity[movie_index])),reverse=True , key = lambda x : x[1])[1:6]
    for i in movie_list :
        print(new_df.iloc[i[0]].id)
        print(new_df.iloc[i[0]].title)

In [76]:
recommend('John Carter')

32740
Krrish
87421
Riddick
16651
The Other Side of Heaven
188207
The Legend of Hercules
10461
Get Carter

In [68]:
sorted(list(enumerate(similarity[0])),reverse=True , key = lambda x : x[1])[1:6]

[(1214, np.float64(0.31433011119429655)),
 (2405, np.float64(0.2864459496157732)),
 (507, np.float64(0.2710098294963041)),
 (539, np.float64(0.2706659809803833)),
 (778, np.float64(0.2639435221287502))]

In [69]:
import pickle
pickle.dump(new_df.to_dict() , open('movie.pkl','wb'))

In [70]:
pickle.dump(similarity,open('similarity.pkl','wb'))